.card {
    background-color: light-dark(
        var(--mantine-color-white),
        var(--mantine-color-dark-7)
    );
    min-height: fit-content;
}

.section {
    border-bottom: rem(1px) solid
        light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    padding-bottom: var(--mantine-spacing-md);
}

.label {
    text-transform: uppercase;
    font-size: var(--mantine-font-size-xs);
    font-weight: 700;
}

.price {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.carousel {
    @mixin hover {
        .carouselControls {
            opacity: 1;
        }
    }
}

.carouselControls {
    transition: opacity 150ms ease;
    opacity: 0;
}

.carouselIndicator {
    width: rem(4px);
    height: rem(4px);
    transition: width 250ms ease;

    &[data-active] {
        width: rem(16px);
    }
}
